mixin field(data)
	- data = data || {} ;

	+b.field(
		class= type ? '_type_' + type : ''
		)&attributes(attributes)
		+e('label').label(for=data.id)=data.label

		+e('input').input(
			type='text'
			class='_#{data.id}'
			name=data.id
			id=data.id
			value=data.value
		)
