mixin checkbox(data)
	- data = data || {};
	- var indent = data.indent;
	- var height = data.height;

	+b.checkbox&attributes(attributes)
		+e('input').input(
			type='checkbox'
			name=data.id
			id=data.id
			checked=data.checked
		)
		+e('label').label(
			for=data.id
			class= indent ? '_indent_' + indent : ''
			class= height ? '_height_' + height : ''
			)!=data.label.replace(/\n/g, '<br>')
