mixin radio-button(data)
	- data = data || {}
	+b.radio-button&attributes(attributes)
		+e('input').input(
			type='radio'
			name=data.name
			id=data.id
			checked=data.checked
		)
		+e('label').label(for=data.id)=data.label
